[workspace]
resolver = "2"
members = ["mel_spec", "mel_spec_pipeline", "mel_spec_audio"]


[workspace.package]
version = "0.2.2"

[workspace.dependencies]
mel_spec = { path = "./mel_spec", version = "0.2.2" }
mel_spec_pipeline = { path = "./mel_spec_pipeline", version = "0.2.2" }
mel_spec_audio = { path = "./mel_spec_audio", version = "0.2.2" }

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
