[package]
name = "mel_tga"
version = "0.1.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/wavey-ai/mel_spec"
readme = "README.md"

[dependencies]
mel_spec = { path = "../.." }
ndarray = "0.16.1"
structopt = "0.3.26"

[[bin]]
name = "mel_tga"
path = "src/main.rs"
